.modal {
    padding-right: 10px;
    z-index: 2;
}

.modal-title {
    padding-left: 16px;
    border-left: 4px solid #41F6D7;
    margin-top: 50px;
  }
  .left-menu__modal {
    height: 40px;
  }
  .left-menu__button_modal{
    width:40px;
height:40px;
margin-left:16px;
background-color: #FF3E79;
border-radius: 50%;

width: 100%;
height: 100%;
background-image: url("../img/close.svg");
background-size: 16px;;
background-position: center center;
background-repeat: no-repeat;
}
  .modal-form {
    
    input {
        width: 88%;
        min-width: 280px;
        height: 40px;
        display: block;
        margin: 16px auto 0 16px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        padding: 5px;
        font-size: 16px;
    }
    textarea {
        font-size: 16px;
        width: 88%;
        min-width: 270px;
        height: 118px;
        margin-top: 16px;
        margin-left: 16px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        padding: 10px;
    }
    
        
    }
    .modal-form__approv {
        margin-left: 16px;

  }
 
.modal-form__footer {
    padding-right: 44px;
    button {
        margin-left: 68%;
        background-color: #FF3E79;
        font-weight: bold;
        width: 136px;
        height: 32px;
        border-radius: 16px;
        color: white;
        
    }
    a {color: #FF3E79;}
}
@media (min-width: 768px) {
    .blur {
        position: fixed;

        
    }
   .modal {
    width: 440px;
    height: 100%;
    position: fixed;
    right: 0;
    box-shadow: -2px 0 4px 0px #0E185033;
    background-color: white;
   } 
   .modal-title {
    border: 0;
   }
   .modal__header {
    display: flex;
    button {
        margin-left: -100px;
    }
   }
}
@media (min-width: 1440px) { 
  
}